<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan System</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/datatables.min.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="#" id="navbar-brand" class="navbar-brand">Loan Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a href="#" class="nav-link active" id="index-navbar-link">Home</a>
                        <a href="#" class="nav-link" id="borrowers-navbar-link">Clients</a>
                        <a href="#" class="nav-link" id="loans-navbar-link">Loans</a>
                    </div>
                </div>
                
            </div>
        </nav>
        <div id="alert-placeholder"></div>
        <div class="row">
            <div class="total-profit col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Profit</h5>
                        <p id="total-amount" class="card-text"></p>
                    </div>
                </div>
                
                <!-- Table to display total profit by borrower -->
                <table class="table table-hover" id="total-profit-table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody id="profit-by-borrower-tbody">

                    </tbody>
                </table>
            </div>
            <div class="custom-profit col">
                <div class="card">
                    <div class="card-body">
                        <form id="custom-profit-form">
                            <h5 class="card-title">Custom Date</h5>
                            <div class="input-group my-3">
                                <div id="start-date-form" class="form-floating">
                                    <input type="date" name="start-date" id="start-date" class="form-control" required>
                                    <label for="start-date">Start Date</label>
                                </div>
                                <div id="end-date-form" class="form-floating">
                                    <input type="date" name="end-date" id="end-date" class="form-control" required>
                                    <label for="end-date">End Date</label>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                        <div id="custom-text">

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custom Profit</h5>
                        <div id="custom-amount"></div>
                    </div>
                </div>

                <!-- Table to display custom profit by borrower -->
                <div id="custom-profit-div"></div>

            </div>
        </div>
        
        <div class="my-5">
            <button type="button" id="view-clients-button" class="btn btn-primary">View Borrowers</button>
            <button type="button" id="view-loans-button" class="btn btn-primary">View Loans</button>
        </div>
    </div>
    

    <script src="../scripts/datatables.min.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>