<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan System</title>
</head>
<body>
    <div class="profit-menu">
        <div class="total-profit">
            <p id="total-amount"></p>
            <!-- Table to display total profit by borrower -->
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="profit-by-borrower-tbody">

                </tbody>
            </table>
        </div>
        <div class="monthly-profit">

        </div>
    </div>
    <button id="view-clients-button">View Borrowers</button>
    <button id="view-loans-button">View Loans</button>

    
    <script src="../dist/index.js"></script>
</body>
</html>