<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Details</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="#" id="navbar-brand" class="navbar-brand">Loan Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a href="#" class="nav-link" id="index-navbar-link">Home</a>
                        <a href="#" class="nav-link" id="borrowers-navbar-link">Clients</a>
                        <a href="#" class="nav-link" id="loans-navbar-link">Loans</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="alert-placeholder"></div>

        <dialog id="payment-dialog">
            <form id="payment-form">
                <label for="payment-date">Date</label>
                <input type="date" name="payment-date" id="payment-date" required>

                <label for="payment-amount">Amount</label>
                <input type="number" name="payment-amount" id="payment-amount" required>

                <button type="button" id="cancel-payment-button">Cancel</button>
                <button type="submit">Create Payment</button>
            </form>
        </dialog>

        <dialog id="interest-dialog">
            <form id="interest-form">
                <label for="interest-date">Date</label>
                <input type="date" name="interest-date" id="interest-date" required>

                <label for="interest-amount">Amount</label>
                <input type="number" name="interest-amount" id="interest-amount" required>

                <button type="button" id="cancel-interest-button">Cancel</button>
                <button type="submit">Create Interest</button>
            </form>
        </dialog>

        <dialog id="document-creation">
            <form id="document-form">
                <label for="document-title">Title</label>
                <input type="text" name="document-title" id="document-title" required><br>

                <p id="file-path-text"></p>
                <input type="hidden" name="file-path" id="file-path">
                <button id="open-file-button" type="button">Select File</button><br>

                <button type="submit">Create</button>
                <button type="button" id="cancel-document-button">Cancel</button>
            </form>
        </dialog>

        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Loan details</h1>
                        <p id="borrower-name" class="card-text"></p>
                        <p id="loan-id" class="card-text"></p> 
                        <p id="loan-status" class="card-text"></p>
                        <p id="loan-initial-amount"></p>
                        <p id="loan-amount" class="card-text"></p>
                        <p id="loan-start-date" class="card-text"></p>
                        <div id="loan-buttons">
                            <button type="button" id="generate-report" class="btn btn-success">Generate Report</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Loan document table -->
            <div class="loan-document col-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="loan-document-table">

                            </tbody>
                        </table>
                        <button id="new-document" class="btn btn-success" type="button">New Document</button>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- Payment table -->
                <h1>Payment</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="payment-table-body">
                        
                    </tbody>
                </table>
                <button id="new-payment" type="button" class="btn btn-success">New Payment</button>
            </div>
            <div class="col-6">
                <h1>Interest</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="interest-table-body">
                        
                    </tbody>
                </table>
                <button id="new-interest" type="button" class="btn btn-success">New Interest</button>
            </div>
        </div>


        <canvas id="combined-chart"></canvas>

    </div>
    

    <script src="../dist/loan-details.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>