<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="loan-form">
        
        <label for="borrower">Borrower</label>
        <select name="borrower" id="borrower"></select>

        <label for="initial-quantity">Quantity</label>
        <input type="number" name="initial-quantity" id="initial-quantity">

        <label for="start-date">Start Date</label>
        <input type="date" name="start-date" id="start-date" required>

        <button>Submit</button>
        
    </form>
    <script src="../scripts/loan-form.js"></script>
</body>
</html>